// ==========================================================================
// # AWARDS
// ==========================================================================

.awards {
    display:   flex;
    flex-wrap: wrap;

    max-width: rem(405);
    margin: 0;
    list-style: none outside;

    @include mq($until: large) {
        padding-bottom: $spacing-unit;
    }
}

.awards__item {
    flex: 33%;
    padding: $half-spacing-unit $quarter-spacing-unit;
}


// ==========================================================================
// # MODIFIER: AWARDS LEFT - text is on the left, images on right
// ==========================================================================
.awards {
    .-left & {
        @include mq(large) {
            align-self: flex-start;
            margin: $double-spacing-unit rem(30) $double-spacing-unit $double-spacing-unit;
        }
    }
}
