// ==========================================================================
//
// CAROUSEL INFOBOX
//
// Description: A box that appears over the header carousel on medium up
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.carosel-infobox {
    display: none;

    @include mq(medium) {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        right: 70px + $half-spacing-unit;
        padding: $half-spacing-unit;
        font-size: rem(16);
        color: brand(ink);
        transition: all 200ms;
        transform: translateY(-50%);
        z-index: $zindex-tier-1;
    }

    @media screen and ( max-height: 880px ) {
        transform: none;
        top: 0;
        bottom: rem(-55px);
        justify-content: flex-start;
        overflow: auto;
        width: 40%;
    }


    @include mq(large) {
        padding: $spacing-unit;
    }

    p {
        margin: 0;
    }
}

.carousel-infobox__heading {
    margin-bottom: $quarter-spacing-unit;
}

// Strong elements
.carousel-infobox__subheading {
    margin-top: $half-spacing-unit;

    & + :not(.carousel-infobox__subheading) {
        margin-top: ($quarter-spacing-unit / 2);
    }

}

.carousel-infobox__underlink-link {
    position: relative;
    transition: color ease-in-out 0.2s;

    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
    }

    &:before {
        width: calc(100% + 15px);
        height: rem(1);
        left: 0;
        background-color: brand(ink);
        transition: background-color ease-in-out 0.2s;
    }

    &:after {
        content: ">";
        right: rem(-15);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;

        &:before {
            background-color: #fff;
        }
    }
}

// ==========================================================================
// # MODIFIER: %%MODIFIER_NAME%%
// ==========================================================================
