// ==========================================================================
//
// CAROUSEL INFOBOX
//
// Description: A box that appears over the header carousel on medium up
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.carosel-infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $half-spacing-unit;
    font-size: rem(16);
    color: brand(ink);
    transition: all 200ms;  
    
    @include mq(medium) {
        position: absolute;
        top: 50%;
        right: 70px + $half-spacing-unit;
        transform: translateY(-50%);
        z-index: $zindex-tier-1;
    }

    @media screen and ( max-height: 880px ) and ( min-width: #{map-get($mq-breakpoints, 'medium')} ) {
        transform: none;
        top: 0;
        //bottom: rem(-55px);
        justify-content: flex-start;
        overflow: auto;
        width: 40%;
    }


    @include mq(large) {
        padding: $spacing-unit;
    }

    p {
        margin: 0;
    }
}

.carousel-infobox__heading {
    margin-bottom: $quarter-spacing-unit;
}

// Strong elements
.carousel-infobox__subheading {
    display: block; // force clearing
    padding-top: $half-spacing-unit;

    & + :not(.carousel-infobox__subheading) {
        padding-top: ($quarter-spacing-unit / 2);
    }

}

.carousel-infobox__underlink-link {
    position: relative;
    transition: color ease-in-out 0.2s;

    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
    }

    &:before {
        width: calc(100% + 15px);
        height: rem(1);
        left: 0;
        background-color: brand(ink);
        transition: background-color ease-in-out 0.2s;
    }

    &:after {
        content: ">";
        right: rem(-15);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;

        &:before {
            background-color: #fff;
        }
    }
}

// # CONTENT
// ==========================================================================
.carosel-infobox__content {
    @include gw();
}

.carosel-infobox__primary,
.carosel-infobox__secondary {
    @include gc();

    @include mq(small) {
        @include grid-column(1,2);
    }

    @include mq(medium) {
        @include grid-column(2,2);
    }
    
    // on small height screens we need to allow for more vertical space
    @media screen and ( max-height: 880px ) {
        @include grid-column(1,2);
    }
}

// # SOCIAL ICONS
// ==========================================================================
.carousel-infobox__social-icons {
    position: absolute;
    top: rem(10px);
    right: rem(20px);

    @include mq(large) {
        top: rem(20px);
        right: rem(30px);
    }
}

// ==========================================================================
// # MODIFIER: HAS TOP ICONS
// ==========================================================================

.carosel-infobox--has-top-icons {
    padding-top: rem(40px);

    @include mq(medium) {
        padding-top: rem(40px);
    }

    @include mq(large) {
        padding-top: rem(50px);
    }
    
}