// ==========================================================================
// # MODULE: CHECKERBOARD
// ==========================================================================

// ==========================================================================
// # VARIABLES & MIXIN
// ==========================================================================

// Breakpoints
$col-2-bp: 460px;
$col-3-bp: 675px;
$col-4-bp: 920px;
$col-5-bp: 1135px;
$col-6-bp: 1350px;
$col-7-bp: 1565px;

// ==========================================================================
// # CHECKERBOARD
// ==========================================================================

.checkerboard {
    background: brand(red);
    color:      #fff;
}

// Header
// ==========================================================================
.checkerboard__header {
    padding: rem(125) rem(30) rem(50);
    text-align: center;
}

.checkerboard__content { align-items: stretch; }

// Items
// ==========================================================================
.checkerboard__item {

    // Using custom break points here, because this is a very designed component that doesn’t necessarily mesh with the
    // standard breakpoints.
    // These are all based on an absolute minimum width of 215px per grid square, and take the site border into account
    // (30px below 768px, 60 above…)
    @include mq($col-2-bp)  { @include grid-column(1, 2); }
    @include mq($col-3-bp)  { @include grid-column(1, 3); }
    @include mq($col-4-bp)  { @include grid-column(1, 4); }
    @include mq($col-5-bp) { @include grid-column(1, 5); }
    @include mq($col-6-bp) { @include grid-column(1, 6); }
    //@media (min-width: rem($col-7-bp)) { @include grid-column(1, 7); }

    &:nth-child(3n)   { background: #b0193b; }
    &:nth-child(3n+1) { background: #f42352; }
    &:nth-child(3n+2) { background: #c80b35; }


    //@media (min-width: $col-2-bp, max-width: $col-3-bp)  {
    //    &:nth-of-type(2n) {
    //        .checkerboard-item__content {
    //            left: -100%;
    //        }
    //    }
    //}
    @media ($from: $col-3-bp, $until: $col-4-bp {

    }
    @media ($from: $col-4-bp, $until: $col-5-bp {

    }
    @media ($from: $col-5-bp, $until: $col-6-bp {

    }
    @media ($from: $col-6-bp, $until: $col-7-bp {

    }
    // Getting flip in the correct direction
    // @media (min-width: rem(675))  {
    //
    //     &:nth-of-type(3n) {
    //         .checkerboard-item__content {
    //             left: -100%;
    //         }
    //     }
    // }
    // @media (min-width: rem(920))  {
    //     &:nth-of-type(4n) {
    //         .checkerboard-item__content {
    //             left: -100%;
    //         }
    //     }
    // }
}

// Final item
// ==========================================================================
.checkerboard__sell {
    display: flex;
    flex: 1;
    width: auto;

    .box {
        display: flex;
        flex-direction: column;
        padding: rem(20);
        width:   100%;
    }

    p { margin: 0; }
}

// ==========================================================================
// # CHECKERBOARD ITEM
// ==========================================================================
.checkerboard-item {
    position: relative;

    &.-active {
        z-index:    2;
        box-shadow: #fff 0 0 0 5px;
    }
}

// Tile
// ==========================================================================
.checkerboard-item__title {
    background: transparent none no-repeat center center/cover;

    &:before {
        display: inline-block;
        width:   1px;
        padding-top: 100%;
        margin-left: -1px;

        vertical-align: middle;

        content: "";
    }

    &:after {
        display: table-cell;
        clear:   left;
    }
}

.checkerboard-item__link {
    display:        inline-block;
    padding:        rem(30);
    width:          100%;
    margin-left:    -0.3em;

    color: #fff;

    font-size:      rem(21);
    text-align:     center;
    vertical-align: middle;
}

// Content
// ==========================================================================
.checkerboard-item__content {
    display:  none;
    padding: rem(20);

    background: #fff;
    color:      brand(red);

    font-size: rem(15);
    z-index:   2;


    .btn {
        display: block;
        margin-top: rem(10);
        white-space: nowrap;
    }

    .-active & { display: block; }

    @media (min-width: rem(460)) {
        position:  absolute;
        top:       rem(-5);
        bottom:    rem(-5);
        left:      100%;

        flex-direction:  column;
        justify-content: space-around;
        align-items:     flex-start;

        min-width: calc(100% + #{rem(5)});

        p { margin: 0; }

        .-active & { display: flex; }
    }
}

.checkerboard-item__feeling-lucky { color: brand(grape); }
