// ==========================================================================
//
// GRAVITY FORMS
//
// Description: Gravity forms custom styles NOT overrides
//
// ==========================================================================

// ==========================================================================
// # VENDOR OVERRIDES
// ==========================================================================
.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium {
    width: 100%;
}

// ==========================================================================
// # BASE
// ==========================================================================

.gform_fields {
    @include gw;
}

.gfield {
    margin-bottom: $half-spacing-unit;

    @include mq(medium) {
        margin-bottom: $spacing-unit;
    }
}

.gf-column {
    @include grid-column(1, 1);
}

.gf-column--half {
    @include grid-column(1, 1);

    @include mq(small) {
        @include grid-column(1, 2);

        &:nth-of-type(odd) {
            padding-right: $gutter;
        }

        &:nth-of-type(even) {
            padding-left: $gutter;
        }

    }

    @include mq(large) {
        &:nth-of-type(odd) {
            padding-right: $double-gutter-width;
        }

        &:nth-of-type(even) {
            padding-left: $double-gutter-width;
        }
    }
}

// ==========================================================================
// # MODIFIER: %%MODIFIER_NAME%%
// ==========================================================================
