// ==========================================================================
//
// HEADER CAROUSEL
//
// Description: Header carousel that uses Slick
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.slick-header-carousel-container {
    position: relative;
}



.slick-header-carousel {
    @include list-reset;
    height: 50vh;
    margin-bottom: 0;
    overflow: hidden;

    @include mq($from: medium) {
        // on suitably large screens don't allow the carousel
        // to shrink too much else it looks bad
        min-height: rem(500px); 
    }

    .slick-track,
    .slick-list,
    .slick-slide {
        height: 100%;
    }

    // Styles that aplly to both arrows
    .slick-prev,
    .slick-next {
        width: rem(70);
        min-width: rem(20);
        height: 80%;
        padding:   rem(10);
        background: rgba(255, 255, 255, 0);
        border-radius: 0;
        opacity: 1;
        transition: background 200ms,
                    opacity    350ms,
                    transform  0ms 350ms;

            @include mq(medium) {
                height: rem(294);
                background: rgba(255, 255, 255, 0.975);
            }

        &:before {
            display: block;
            content: url("../svg/standalone/arrow-left.svg");
            transform: translate3d(0, 0, 0);
            transition: transform ease-in-out 350ms;
        }

        &:hover,
        &:focus {
            @include mq(medium) {
                background: rgba(255, 255, 255, 0.85);
                outline-color: brand(grey);
            }

            &:before {
                transform: translate3d(rem(-6), 0, 0);
            }
        }
    }

    .slick-prev {
        left: 0;
        // Needs to be removed
        z-index: $zindex-tier-1;
    }

    .slick-next {
        right: 0;
        transform: translate(0, -50%) rotate(180deg);
    }
}

.slick-header-carousel__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    



    .slick-initialized & {
        height: inherit;
        overflow: inherit;
    }   

    & + & { 
        display: none; 

        .slick-initialized & {
            display: inherit;
        }
    }


    img {
        opacity: 0;
        width: 100%;
        
        .no-js &,
        .slick-initialized & {
            opacity: 1;
            transition: opacity 0.5s linear;
        }
    }
}

.slick-dots {
    bottom: rem($quarter-spacing-unit);

    @media screen and ( min-width: 768px ) and (max-height: 880px) {
        text-align: left;
        left: 7%;
    }
}





// ==========================================================================
// # MODIFIER: %%MODIFIER_NAME%%
// ==========================================================================
