// ==========================================================================
// # Main delay
// ==========================================================================
.header-slider {
    display: flex;
    height: 50vh;

    .slick-list {
        height: 100%;

        .slick-track {
            height: 100%;

            // .header-slider__slide {
            //     display: flex!important;
            // }
        }
    }

    .slick-dots {
        bottom: rem($half-spacing-unit);
    }

    .header-slider__arrow {
        position:  absolute;
        top:       50%;

        padding:   rem(10);
        height:    100%;
        min-width: 0;
        margin:    0;

        // transform:  translateY(-50%) scale(0);
        // transition: background 200ms,
                    // opacity    350ms,
                    // transform  0ms 350ms;

        border-radius: 0;

        background: rgba(255, 255, 255, 0);
        // opacity:    0;

        transform: translateY(-50%) scale(1);
        transition-delay: 0ms, 0ms, 0ms;
        opacity: 1;

        &:hover,
        &:focus {
            background: rgba(255, 255, 255, 0.15);
            outline-color: brand(grey);

            .svg-icon {
                opacity: 1;
                transform: translateX( rem(-3) );
            }
        }

        &.-show {
            transform: translateY(-50%) scale(1);
            transition-delay: 0ms, 0ms, 0ms;
            opacity: 1;
        }

        .svg-icon {
            transition: all 200ms;
            opacity:    0.75;
        }
    }

    .header-slider__arrow--prev {
        left: 0;
    }

    .header-slider__arrow--next {
        right: 0;

        .svg-icon { transform: scaleX(-1); }

        &:hover,
        &:focus {
            .svg-icon {
                transform: scaleX(-1) translateX( rem(-3) );
            }
        }
    }

}