// ==========================================================================
// # HERO component
// ==========================================================================

.hero {
    padding: 0 rem(30);
}

.hero__inner {
    padding: rem(90) 0;
    text-align: center;
}

.hero__image {
    margin: 0 auto;
}

// ==========================================================================
// # MODIFIER: FULL BLEED
// ==========================================================================

.hero--full-bleed {
    padding: 0;

    .hero__inner {
        width: 100%;
        max-width: 100%;
        max-height: 54vh;
        padding: 0;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}
