// ==========================================================================
// # Module: ROOM LIST
// ==========================================================================

.room-list {
    // scss-lint:disable EmptyRule
}

// # LIST
// ==========================================================================
.room-list__list {
    margin: 0;
    list-style: none outside;
}

// # LIST ITEM
// ==========================================================================
.room-list__item {
    & + & { margin-top: rem(20); }
}

// ==========================================================================
// # Actual Room
// ==========================================================================
.listed-room {
    // scss-lint:disable EmptyRule
}

// Title + description
// ==========================================================================
.listed-room__title-desc { @include mq(xlarge) { padding-right: rem(40); }}

.listed-room__title {
    font-size: rem(35);
}

// Address + contact
// ==========================================================================
.listed-room__address-contact {
    margin-top: rem(30);

    .btn { min-width: 0; }

    .svg-icon--marker {
        position: relative;

        top: 0.25em;
        height: rem(18);
        width:  rem(14);
        margin-left: rem(-25);

        float: left;

    }

    @include mq(xlarge) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    @include mq(xxlarge) {
        flex-direction: column;
        align-items:    flex-start;
        padding-left:   rem(40);
        margin: 0;
    }
}

// Image
// ==========================================================================
.listed-room__image {
    background: brand(sky) none no-repeat bottom center/cover;
}
