// ==========================================================================
// # Room list module
// ==========================================================================

.room-list {
    // scss-lint:disable EmptyRule
}

// ==========================================================================
// # HEADER
// ==========================================================================
.room-list__header {
    background: #fff;

    @include mq(large) {
        padding: 0 0 0 rem(60);
        background: #fff url("/assets/images/grape-30pc.svg") repeat-y center center/rem(3000);
    }

}

.room-list__header-inner {
    @include mq(large) { justify-content: space-between; }
}

// Title container
// ==========================================================================
.room-list__title-info {
    padding: rem(30);

    @include mq(large) {
        padding: rem(60);
        padding-left: 0;
    }
}

// Navigation
// ==========================================================================
.room-list-nav {
    margin-top: rem(30);
    padding:    rem(30);

    @include mq(large) {
        margin: 0;
        padding: rem(50);
        padding-right: 0;
    }
}

// .room-list-nav__list {}

// .room-list-nav__item {}

.room-list-nav__link {
    &:hover {
        text-decoration: none;
    }
}

// ==========================================================================
// # CONTENT
// ==========================================================================
.room-list__list {
    margin: rem(20) 0 0;
    list-style: none outside;
}

.room-list__item {
    margin-top: rem(20);
}

// ==========================================================================
// # ACTUAL ROOM
// ==========================================================================
.listed-room {
    position: relative;
    display:  flex;
    justify-content: flex-end;

    background: brand(ink) none no-repeat center center/cover;

    @include mq(small) {
        padding: rem(20);
    }

    @include mq(medium) {
        padding: rem(40);
    }
}

// Content
// ==========================================================================
.listed-room__content {
    position: relative;

    display: flex;
    flex-direction: column;

    z-index: 2;

    @include mq(small) {
        @include grid-column(3, 10);
        min-width: rem(300);
    }

    // Tweak appearance of slideshow a little
    // ======================================================================
    .slideshow__item {
        padding-top: 82.5%;

        height: auto !important; // scss-lint:disable ImportantRule
    }

    .slideshow__image {
        position: absolute;

        top:  50%;
        left: 50%;

        min-width:  100%;
        min-height: 100%;

        transform: translate(-50%, -50%);
    }
}

// Info panel
// ==========================================================================
.listed-room__info {
    order: 2;
}

// Title
// ==========================================================================
.listed-room__title { margin: 0; }
.listed-room__price { margin: 0 0 2em; }

// Availability slug
// ==========================================================================
.listed-room__avail[class] {
    position: absolute;

    top: 0;
    left: 50%;
    margin: 0;

    transform: translateX(-50%);

    color: #fff;
    white-space: nowrap;

    z-index: 10;
}

// Slideshow
// ==========================================================================
.listed-room__slideshow {
    order: 1;
    background: tint(grape);

    // mirrored version
    // ======================================================================
    &.js-slideshow__mirror {
        position: absolute;

        top:  0;
        left: 0;

        height: 100%;
        width:  100%;

        z-index: 1;

        // scss-lint:disable ImportantRule

        .slideshow__list {
            position: absolute;

            top:  0;
            left: 0;

            height: 100% !important;
            width:  100%;
        }

        .slideshow__item {
            height: 100% !important;

            &.slideshow__list {
                background-blend-mode: multiply;
                background: brand(grape)!important;
            }
        }

        .slideshow__image { display: none; }
    }
}

.listed-room__content {
    .slideshow__item {
        background-blend-mode: multiply;
        background-color: rgba(brand(grape), 0.95)!important;
    }
}
