// ==========================================================================
// # Room list module
// ==========================================================================

.room-list {
    // scss-lint:disable EmptyRule
}

// ==========================================================================
// # HEADER
// ==========================================================================
.room-list__header {
    background: #fff;

    @include mq(large) {
        padding: 0 0 0 rem(60);
        background: #fff url("/assets/images/grape-30pc.svg") repeat-y center center/rem(3000);
    }

}

.room-list__header-inner {
    @include mq(large) { justify-content: space-between; }
}

// Title container
// ==========================================================================
.room-list__title-info {
    padding: rem(30);

    @include mq(large) {
        padding: rem(60);
        padding-left: 0;
    }
}

// Navigation
// ==========================================================================
.room-list-nav {
    margin-top: rem(30);
    padding:    rem(30);

    @include mq(large) {
        margin: 0;
        padding: rem(50);
    }
}

// .room-list-nav__list {}

.room-list-nav__item {
    position: relative;
    transition: all ease-in-out 0.2s;

    &:after {
        position: absolute;
        content: "";
        background-color: transparent;
        width: rem(30);
        height: rem(30);
        left: -(rem(45));
        opacity: 0;
        transform: rotate(45deg);
        transition: all ease-in-out 0.2s;

        @include mq(large) {
            left: -(rem(50) + rem(15));
            background-color: #fff;
        }
    }


    &:hover {
        border-bottom-color: #fff;
        cursor: pointer;

        &:after {
            opacity: 1;
        }

        a.room-list-nav__link {
            color: #fff;
        }
    }
}

a.room-list-nav__link {
    color: brand(ink);
    transition: all ease-in-out 0.2s;

    &:hover {
        text-decoration: none;
    }
}

// ==========================================================================
// # CONTENT
// ==========================================================================
.room-list__list {
    margin: rem(20) 0 0;
    list-style: none outside;
}

.room-list__item {
    margin-top: rem(20);
}

// ==========================================================================
// # ACTUAL ROOM
// ==========================================================================
.listed-room {
    position: relative;
    display:  flex;
    justify-content: flex-end;

    background: brand(ink) none no-repeat center center/cover;

    @include mq(small) {
        padding: rem(20);
    }

    @include mq(medium) {
        padding: rem(40);
    }
}

// Content
// ==========================================================================
.listed-room__content {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;

    @include mq(small) {
        width: rem(318);
    }

    // Tweak appearance of slideshow a little
    // ======================================================================
    .slideshow__item {
        padding-top: 82.5%;
        height: 100%; // scss-lint:disable ImportantRule
    }

    .slideshow__image {
        position: absolute;

        top:  50%;
        left: 50%;

        min-width:  100%;
        min-height: 100%;

        transform: translate(-50%, -50%);
    }

    .btn {
        margin-top: $half-spacing-unit;
    }
}

// Info panel
// ==========================================================================
.listed-room__info {
    order: 2;
}

// Title
// ==========================================================================
.listed-room__title { margin: 0; }
.listed-room__price { margin: 0 0 $half-spacing-unit; }

// Availability slug
// ==========================================================================
.listed-room__avail[class] {
    position: absolute;

    top: 0;
    left: 50%;
    margin: 0;

    transform: translateX(-50%);

    color: #fff;
    white-space: nowrap;

    z-index: 10;
}

// Slideshow
// ==========================================================================
.listed-room__slideshow {
    order: 1;
    background: tint(grape);

    // mirrored version
    // ======================================================================
    &.js-slideshow__mirror {
        position: absolute;

        top:  0;
        left: 0;

        height: 100%;
        width:  100%;

        z-index: 1;

        // scss-lint:disable ImportantRule

        .slideshow__list {
            position: absolute;

            top:  0;
            left: 0;

            height: 100% !important;
            width:  100%;
        }

        .slideshow__item {
            height: 100% !important;

            &.slideshow__list {
                background-blend-mode: multiply;
                background: brand(grape)!important;
            }
        }

        .slideshow__image { display: none; }
    }
}

.listed-room__content {
    .slideshow__item {
        background-blend-mode: multiply;
        background-color: rgba(brand(grape), 0.95)!important;
    }
}

.listed-room__features {
    @include list-reset;
}

.listed-room__features-item {
    float: left;
    display: inline-block;
    font-size: rem(15);
    width: 50%;

    &:not(:last-child) {
        &:after {
            content: ' . '
        }
    }
}
