// ==========================================================================
//
// SECONDARY SPLIT FEATURE
//
// Description: Component that has a bleed image & content area
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

// .secondary-split-feature {}

.secondary-split-feature__aside {
    @include mq($until: large) {
        min-height: 30vh;
    }
}

.secondary-split-feature__main {
    position: relative;

    .secondary-split-feature__content {
        max-width: rem(720);

        h2 {
            z-index: $zindex-tier-1;
        }

        .btn {
            margin-top: $half-spacing-unit;

            @include mq(medium) {
                margin-top: $spacing-unit;
            }
        }

    }
}

.room-details-aside__logo {
    .box--padded & {
       right: $half-spacing-unit;
       top: ($half-spacing-unit);
    }
}

.room-details-aside__logo {
    display: none;

    @include mq(xlarge) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        max-width: rem(160);
    }
}
// ==========================================================================
// # MODIFIER: %%MODIFIER_NAME%%
// ==========================================================================
