// ==========================================================================
//
// STACKED GALLERY
//
// Description: A gallery which when hovering on image a colour overlay appears
//              as well as a label and icon. Opens into a Magnific lightbox
//
// ==========================================================================

// ==========================================================================
// # VARIABLES & MIXIN
// ==========================================================================
$transition: all ease-in-out 0.5s;


// ==========================================================================
// # BASE
// ==========================================================================

.stacked-gallery-container {
    flex-grow: 1;
}

.stacked-gallery {
    display: flex;
    position: relative;
    flex-grow: 1;

    // @include mq($until: large) {
    //     min-height: 40vh;
    // }

    @include mq(large) {
        //min-height: 25vh;
    }

}

.stacked-gallery__link {
    display: block;
    width: 100%;
    // height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: #fff;

    &:hover,
    &:focus {

        .stacked-gallery__inner {
            opacity: 1;

            .stacked-gallery__label,
            .stacked-gallery__icon {
                transform: translate3d(0, 0, 0);
            }
        }

        .stacked-gallery__bleed-image {
            background-color: rgba( brand(sky), 0.65 );
        }
    }

}

// COntainer for label and icon
.stacked-gallery__inner {
    position: absolute;
    flex-direction: column;
    opacity: 0;
    z-index: $zindex-tier-1;
    transition: $transition;
    // Centering this way for shitty Safari
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}

.stacked-gallery__label {
    margin-bottom: $quarter-spacing-unit;
    transform: translate3d(0, -50%, 0);
    transition: $transition;
}

.stacked-gallery__icon {
    display: block;
    margin: 0 auto;
    transform: translate3d(0, 50%, 0);
    transition: $transition;
}

// Controlling the colour overlay
.stacked-gallery__bleed-image {
    background-blend-mode: multiply;
    background-color: transparent;
    transition: $transition;
}

// ==========================================================================
// # MODIFIER: ORANGE
// ==========================================================================

.stacked-gallery__link {
    &:hover,
    &:focus {

        .stacked-gallery__bleed-image--orange {
            background-color: rgba( brand(orange), 0.65);
        }
    }

}




// ======================================================================
// # MODIFIER: ORANGE
// ======================================================================

.stacked-gallery-container--min-height {
    min-height: 50vh;
}
