// ==========================================================================
// # TRANSPORT LISTING
// ==========================================================================

.transport-list {
    @include list-reset;
}

.transport-list__item {
    margin-bottom: rem($half-spacing-unit);
}

.transport-list__icon {
    width: rem(55px);
    height: rem(40px);

    stroke: brand(sky);
}

.transport-list__listing {
    @include list-reset;
}

.transport-list__listing-item {
    margin-bottom: rem($quarter-spacing-unit);
}

.transport-list__content {
    width: calc(100% - rem(55px));
    padding-left: rem($quarter-spacing-unit);
    display: inline-block;

    &:first-line {
        color: brand(sky);
    }
}

.transport-list__heading {
    color: #fff !important;

    &:first-line {
        color: #fff !important;
    }
}
