// ==========================================================================
// # Module: MAP
//
// Google map component
// ==========================================================================

// ==========================================================================
// # Base
// ==========================================================================
.map {
    // scss-lint:disable EmptyRule
}

// ==========================================================================
// # Map container
// ==========================================================================
.map__map {
    position: relative;
    padding-top: 50%;
    background: transparent none no-repeat center center/cover;
    overflow: hidden;

    &.js-enhanced { background: transparent none !important; }
}

.map__static {
    position: absolute;

    top:  50%;
    left: 50%;

    transform: translate(-50%, -50%);
    opacity:  0.0000001;
}
