// ==========================================================================
//
// CONTAINERS
//
// Description: standard structures for dividing pages into "sections"
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.container {
    display: block;

    width: 100%;
    max-width: rem(1075);
    margin-right: auto;
    margin-left: auto;

}

// ==========================================================================
// # HALF-BANNER used in various content
// ==========================================================================
.container--half {
    width: 50%;
    max-width: rem(537.5);

    &.-left { margin-right: 0; }
    &.-right { margin-left: 0; }
}
