// ============================================================

// MODULE: ISLAND

// Description: boxed off content

// ============================================================


// ==========================================================================
// ISLAND
// ==========================================================================

@mixin island() {
    @include clearfix;
    display: block;
    padding: $spacing-unit;

    > :last-child,
    > :last-child {
        margin-bottom: 0;
    }
}

.island,
%island {
    @include island();
}


// MODIFIER: BOXED
// ==========================================================================
%island--boxed,
.island--boxed {
    border: 1px solid #d8d8d8;
    background-color: #f2f2f2;
}


// ==========================================================================
// ISLET
// ==========================================================================

.islet,
%islet {
    padding: $half-spacing-unit;
}
