// ==========================================================================
// # BOX SIZING
// ==========================================================================
*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body {
    overflow-x: hidden;
    width: 100%;
}



// ==========================================================================
// # FONT ALIASING
// ==========================================================================
html,
body,
button {
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
  // font-smoothing: antialiased;
}

// ==========================================================================
// # BROWSER UPGRADE NOTICE
// ==========================================================================

.browserupgrade {
    margin: $half-spacing-unit 0;
    padding: $half-spacing-unit 0;
    color: #000;
    background-color: #ccc;
}

// ==========================================================================
// # FONTFACE FOUT PROTECTION
// ==========================================================================
body {
    transition: opacity 0.1s linear;
    opacity: 0;
    
    .no-cuts-the-mustard &,
    .no-webfonts &,
    .wf-inactive &,
    .wf-active &,
    .no-js & {  
        // scss-lint:disable ImportantRule
        opacity: 1 !important;
    }


}





