// ==========================================================================
//
// ARTICLE LIST
//
// Description: Styles for a arhcive listing page
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.article-list-section {
	display: flex;
	flex-direction: column;
	justify-content: center;

	// Added here to overide the bleeding *:last-child
	.article-list-button {
		align-self: center;
		margin: ($spacing-unit + 20px) 0 $spacing-unit;

		@include mq(medium) {
			margin: $double-spacing-unit 0 ($double-spacing-unit - 50px) 0 ;
		}

		@include mq(large) {
			margin: $double-spacing-unit 0 ($double-spacing-unit - 50px);
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.article-list {
    column-gap: rem(20);

    list-style: none outside;

    // for use with Salvattore
    &[data-columns]:before { content: "1 .column"; position: absolute; opacity: 0; }
    &:not([data-columns='']) { column-count: 1; margin-right: rem(-10); margin-left: rem(-10); }

    // salvattore prep
    .column {
		float: left;
		padding: 0 $quarter-spacing-unit;

		@include mq(small) {
			padding: 0 $half-spacing-unit;
		}
	}

	// small–large: two columns
    @include mq(small) {
        // non-salvattore
        column-count: 2;

        // salvattore count
        &[data-columns]:before { content: "2 .column"; }
        .column { width: 50%; }
    }

    // scss-lint:disable DeclarationOrder (ignoring because it makes far more sense to put the media queries here…)
    // large+: three columns
    @include mq(large) {
        // non-salvattore
        column-count: 3;

        // salvattore count
        &[data-columns]:before { content: "3 .column"; }
        .column { width: 33.333%; }
    }

	// scss-lint:disable DeclarationOrder (ignoring because it makes far more sense to put the media queries here…)
    // large+: three columns
    // @include mq(xlarge) {
    //     // non-salvattore
    //     column-count: 4;
	//
    //     // salvattore count
    //     &[data-columns]:before { content: "4 .column"; }
    //     .column { width: 25%; }
    // }
}

.article-list__item {
    margin-bottom: $half-spacing-unit;
    break-inside: avoid;

	@include mq(medium) {
		margin-bottom: $spacing-unit;
	}
}


// ==========================================================================
// # ARTICLE TILE
// ==========================================================================

// .article-tile {}

// .article-tile__image-container {}

// .article-tile__image {}

.article-tile__inner {
    .article-tile__heading {
		margin-bottom: $half-spacing-unit;
        font-size: rem($h3-fsize);
        line-height: 1.04;
        color: $base-font-color;

        &:first-line {
            color: $base-font-color;
        }

        @include mq(medium) {
            font-size: rem($h3-fsize-desktop);
            line-height: 1.15;
        }
    }

}

// .article-tile__excerpt {}

// ==========================================================================
// # MODIFIER: %%MODIFIER_NAME%%
// ==========================================================================
