// ==========================================================================
//
// BANNER
//
// Description: layout and styling for primary banner/header of site
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.banner {
    width: 100%;
    padding: 0 0 rem(15);

    @include mq(medium) {
        padding: 0 0 rem($half-spacing-unit);
    }
}

.banner__inner {
    position:        relative;
    display:         flex;
    justify-content: space-between;
    align-items:     center;

    @include mq(nav-break-2) {
        align-items: flex-end;
    }
}

// ==========================================================================
// # SECTION
// ==========================================================================
.banner__section {
    // scss-lint:disable EmptyRule
    //
    // @include mq($from: nav-break-2) {
    //     display: table-cell;
    //     vertical-align: middle;
    //
    //     .flexbox & {
    //         display: block;
    //         flex: 0 0 auto;
    //         vertical-align: initial;
    //     }
    // }
}

// ==========================================================================
// # BRAND
// ==========================================================================

.banner__brand {
    display: block;

    svg {
        //height: rem(60);

    }
}

.banner__home-link {
    display: block;

    img {
        width: rem(100);

        @include mq(medium) {
            width: rem(140);
        }
    }
}

// ==========================================================================
// # NAV
// ==========================================================================

.banner__nav {
    display:        flex;
    flex-direction: column;
    align-items:    flex-end;
}

// <li> that wraps the language switcher btn
.menu-item--banner-language-switcher {
    display: none;

    @include mq(nav-break-2) {
        position: relative;
        display: block;
        margin-left: $half-spacing-unit;

        .btn {
            width: rem(204);
            min-width: 1px;
            padding: rem(11) rem(25);
        }

        &:before {
            position: absolute;
            right: rem(25);
            top: rem(21);

            width: rem(9);
            height: rem(9);

            content: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDE0LjYgMjMiIHhtbDpzcGFjZT0icHJlc2VydmUiPgogIDxwb2x5Z29uIGZpbGw9IiNmZmYiIHBvaW50cz0iMTQuNiAzLjIgMTEuNSAwIDAgMTEuNSAwIDExLjUgMCAxMS41IDExLjUgMjMgMTQuNiAxOS44IDYuMyAxMS41ICIvPgo8L3N2Zz4=");
            transform: rotate(-90deg);
        }
    }

    select {
        @extend .btn;

        text-align: center;
    }

     // Hide arrow in IE0+
    select::-ms-expand {
        display: none;
    }
}
