// ==========================================================================
//
// BANNER
//
// Description: layout and styling for primary banner/header of site
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.banner {
    position: relative;
    width: 100%;
    padding: 0 0 rem(25);
}

.banner__inner {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
}

// ==========================================================================
// # SECTION
// ==========================================================================
.banner__section {
    // scss-lint:disable EmptyRule
    //
    // @include mq($from: nav-break-2) {
    //     display: table-cell;
    //     vertical-align: middle;
    //
    //     .flexbox & {
    //         display: block;
    //         flex: 0 0 auto;
    //         vertical-align: initial;
    //     }
    // }
}

// ==========================================================================
// # BRAND
// ==========================================================================

.banner__brand {
    display: block;
}

// ==========================================================================
// # NAV
// ==========================================================================

.banner__nav {
    display:        flex;
    flex-direction: column;
    align-items:    flex-end;
}
