// ==========================================================================
//
// BUTTONS
//
// Description: UI styles to create button-like elements
//
// ==========================================================================

// ==========================================================================
// # TYPOGRAPHY
// ==========================================================================
input,
label,
select {
    font-size: rem(18);
    font-family: $base-font-family;
}


// ==========================================================================
// # ELEMENTS
// ==========================================================================

// # FIELDSET
// ==========================================================================

fieldset {
    margin: 0 0 $half-spacing-unit;
    padding: 0;
    border: 0;
}

// # LABELS
// ==========================================================================
%form-label,
label {
    display: block;
    margin-bottom: $half-spacing-unit / 2;
    font-weight: 600;

    .wf-active & {
        @include wf-primary;
    }

    &.required::after {
        content: "*";
    }

    abbr {
        display: none;
    }
}

// # GLOBAL INPUTS
// ==========================================================================

#{$all-text-inputs},
select,
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: $spacing-unit / 2;
    padding: $half-spacing-unit;
    transition: border-color;
    border: $base-border;
    border-radius: 0;
    background-color: $base-background-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    box-shadow: $form-box-shadow;

    &:hover {
        border-color: darken($base-border-color, 10%);
    }

    &:focus {
        outline: none;
        box-shadow: $form-box-shadow-focus;
    }

    // DISABLED
    &:disabled {
        background-color: darken($base-background-color, 6%);
        cursor: not-allowed;

        &:hover {
            border: $base-border;
        }
    }
}

// # SELECT
// ==========================================================================

select {
    @include appearance(none);
    width: 100%;
    max-width: 100%;
    height: auto;

    background-color: $base-background-color;
    background-repeat: no-repeat;
    background-position: right center;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #fefefe;
    }

    .lt-ie9 & {
        padding-right: $half-spacing-unit;
        background-image: none;
    }

}

// # TEXTAREA
// ==========================================================================

textarea {
    resize: vertical;
}

// # SEARCH
// ==========================================================================

input[type="search"] {
    @include appearance(none);
}

input[type="search"]::-webkit-search-decoration {
    display: none;
}

// # CHECKBOXES/RADIO
// ==========================================================================

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: $half-spacing-unit / 2;
}




// # FILE
// ==========================================================================

input[type="file"] {
    width: 100%;
    padding-bottom: $half-spacing-unit;
}


// # BUTTONS & SUBMITS
// ==========================================================================

button[type="submit"], // you cannot apply this as a global style
input[type="reset"],
input[type="submit"],
input[type="button"] {
    // @include btn;
    @extend %btn--primary !optional;
    // Remove native appearance
    @include appearance(none);
    width: auto;
    margin: 0;
    outline: 0;
    cursor: pointer;
    overflow: visible;

    // Kill phantom spacing and dotted
    // border that appears in Firefox.
    vertical-align: top;

    &:active {
        outline: 0;
    }

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

// # FAUX ELEMENT
// ==========================================================================

// scss-lint:disable EmptyRule
.form-element-faux {

}

.form-element-faux-label,
.form-element-faux__label {
    @extend %form-label;
}

// scss-lint:disable EmptyRule
.form-element-faux__desc {

}

// ==========================================================================
// # LAYOUT
// ==========================================================================


// # CONTROL GROUP
// ==========================================================================

.form-control-group {
    margin-top: 0;
    margin-bottom: $half-spacing-unit;

    .form-aligned & {
        margin-bottom: $quarter-spacing-unit;

        label {
            width: 10em;
            margin: 0 $half-spacing-unit 0 0;
            text-align: right;
        }
    }
}

.form-control-group--large {
    margin-bottom: $spacing-unit;
}

.form-control-group--xlarge {
    margin-bottom: $double-spacing-unit;
}

.form-control-group--centered {
    width: 50%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}





// # STACKED
// ==========================================================================

.form-stacked {
    #{$all-text-inputs},
    label,
    select,
    textarea {
        display: block;
        margin-top: $quarter-spacing-unit/2;
        margin-bottom: $quarter-spacing-unit/2;
    }
}

// # ALIGNED
// ==========================================================================

.form-aligned,
.form-group--aligned {
    #{$all-text-inputs},
    label,
    select,
    textarea {
        @include inline-block;
        width: auto;
        margin-bottom: 0;
        vertical-align: middle;
    }

    textarea {
        vertical-align: top;
    }
}


// # GROUP
// ==========================================================================

// scss-lint:disable EmptyRule
.form-group {

}

.form-group--aligned label {
    margin-top: 0;
    margin-right: $half-spacing-unit;
}

.form-group--stacked label {
    display: block;
    clear: both;
}


// ==========================================================================
// # CUSTOM SELECT
// ==========================================================================

@mixin form-select-custom() {
    position: relative;
    overflow: hidden;
    background-color: #fff;

    select {
        margin-bottom: 0;
        //padding-right: rem(40px);
    }

    .pointerevents & {

        // Hide arrow in IE0+
        select::-ms-expand {
            display: none;
        }

        &:before {
            display: block;
            position: absolute;
            top: 1px; // compensate for borders
            right: 1px; // compensate for borders
            bottom: 1px; // compensate for borders

            pointer-events: none;
            width: rem(40px);
            background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KPHBhdGggZmlsbD0iIzAwMDAwMCIgZD0iTTE1LjQ4MyA4LjU2M2MtMC40MDcgMC40MTgtNC42OTUgNC41MDMtNC42OTUgNC41MDMtMC4yMTggMC4yMjMtMC41MDMgMC4zMzQtMC43ODggMC4zMzRzLTAuNTcxLTAuMTExLTAuNzg4LTAuMzM0YzAgMC00LjI4OC00LjA4NS00LjY5Ni00LjUwM3MtMC40MzUtMS4xNjkgMC0xLjYxNmMwLjQzNi0wLjQ0NiAxLjA0My0wLjQ4MSAxLjU3NiAwbDMuOTA4IDMuNzQ4IDMuOTA3LTMuNzQ3YzAuNTM0LTAuNDgxIDEuMTQyLTAuNDQ2IDEuNTc2IDAgMC40MzYgMC40NDYgMC40MDkgMS4xOTggMCAxLjYxNXoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat 50% 50%;

            z-index: $zindex-tier-4;
            content: "";
        }
    }



    &:hover,
    &:focus {
        &:before {
            opacity: 0.6;
        }
    }
}

.form-select-custom {
    @include form-select-custom();
}



// ==========================================================================
// # CUSTOM CHECKBOX
// ==========================================================================

input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    .lt-ie9 & {
        position: relative;
        top: 2px;
        left: auto;
    }
}

// scss-lint:disable MergeableSelector
input[type="checkbox"] + label {
    position: relative;
    font-weight: normal;
    cursor: pointer;

    &:before {
        @include inline-block;
        width: rem(18px);
        height: rem(18px);
        margin-top: rem(-3px);
        margin-right: 1em;

        border: 4px solid brand(grey);

        color: #fff;
        font-size: rem(10px);
        line-height: rem(10px);
        text-align: center;

        vertical-align: middle;
        content: "";

        .lt-ie9 & {
            // scss-lint:disable ImportantRule
            display: none !important;
        }

    }


    &:hover,
    &:focus {
        &:before {
            // border-color: $p-color;
            background-color: brand(grey);
        }
    }

    &:focus {
        &:before {
            outline: 3px solid #ffbf47;
        }
    }

}

input[type="checkbox"]:checked + label {
    &:before {
        // border-color: $p-color;
        // background-color: $p-color;
        content: "✔";
    }
}






// ==========================================================================
// # OVERIDES & FIXES
// ==========================================================================


// Suppress red glow that Firefox
// adds to form fields by default.
button,
select,
input,
textarea {
    &:invalid {
        box-shadow: none;
    }
}


// # TAB FOCUS
// ==========================================================================
select,
button,
input[type="file"],
input[type="radio"],
input[type="checkbox"],
input[type="reset"],
input[type="submit"],
input[type="button"] {
    &:focus {
        @include tab-focus();
        box-shadow: none; // override for file inputs
    }
}

// ==========================================================================
// # FILTERS
// ==========================================================================
.form-filter {
    // scss-lint:disable EmptyRule
}

.form-filter__list {
    margin: 0;
    list-style: none outside;
}

.form-filter__item {
    & + & { border-top: 1px solid brand(grey); }
}

.form-filter__filter {
    display: block;
    padding: rem(10) 0;
    font-weight: normal;
    cursor: pointer;
}
