.pricing {
    background-color: #fff;
}

.pricing__title {
    &:first-line {
        color: brand(mint)!important;
    }
}

.pricing__option {
    @include list-reset;
}

.pricing__heading {

}

.pricing__sub-heading {

}

.pricing-header {
    background-color: brand(mint);
}

.pricing-header__heading {
    color:  #fff!important;
    margin-bottom: 0;
}

.pricing-body {
    min-height: rem(200px);
    background-color: brand(white);

    .bleed-image {
        min-height: rem(200px);
    }
}

.pricing-header__smallprint {
    color:  #fff;
}

.pricing-body__smallprint {
    // color:  #fff;
}
