// ==========================================================================
//
// ROOM PRICING
//
// Description: Room pricing
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.pricing {
    background-color: #fff;
}

// Main title for section
.pricing__title {
    &:first-line {
        color: brand(mint)!important;
    }
}

// Container for collection of options
.pricing__option {
    @include list-reset;
}

// Heading for each block of options
.pricing-header {
    background-color: brand(mint);
}


// ==========================================================================
// # PRICING STEP
//
// Each step has up to 3 listing items
// ==========================================================================
// .pricing__heading {}

.pricing__lisiting {
    margin-bottom: $spacing-unit;

    @include mq(large) {
        margin-bottom: $double-spacing-unit;
    }
}

.pricing__lisiting-item {}

.pricing-header {
    .pricing-header__heading {
        color:  #fff;
        margin-bottom: 0;
        font-size: $h3-fsize;

        @include mq(large) {
            font-size: $h3-fsize-desktop;
        }
    }
}

.pricing-header__smallprint {
    color:  #fff;
}

.pricing-body {
    background-color: brand(white);

    // =========================================
    h3,
    h4 {
        margin: 0;
        color: brand(ink);

        &:first-line,
        &.plain span {
            color: brand(ink);
        }
    }

    p {
        margin-top: 0;
    }
}

// .pricing-body__smallprint {}

.pricing-body__number {
    display: block;
    margin-bottom: $quarter-spacing-unit;
    font-size: rem($h3-fsize-desktop);
}

.pricing-body__number--large {
    font-size: rem($h1-fsize);

    @include mq(large) {
        font-size: rem($h1-fsize-desktop);
    }
}
