@font-face {
	font-family: "CircularWeb";
	src: url('../fonts/circular/std.woff2') format('woff2'), url('../fonts/circular/std.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CircularWebBold";
	src: url('../fonts/circular/bold.woff2') format('woff2'), url('../fonts/circular/bold.woff') format('woff');
	font-style: normal;
}


body {
  background: #f5f5f5;
  color: #21293c;
  font: normal 16px "CircularWeb", Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/*////// HEADING STYLING ///////*/
h1,
h2,
#modulemenu a {
    font: normal 1.125rem "CircularWebBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #21293c; /* DARK */
    font-size: 34px;
    line-height: 1.15;
    font-weight: bold;
}

h1 {
    font-size: 34px;
}
h2 {
    font-size: 26px;
    border-bottom: none;
}

#modulemenu a {
    font-size: 18px;
    color: #da1e48; /* RED */
}
#modulemenu a:hover {
  text-decoration: none;
  color: #00c0f3; /* BLUE */
}


/*////// PARAGRAPH STYLING ///////*/
.text-block-line-height {
  margin: 0 0 1em;
  line-height: 22px;
  font-size: 16px;
}




/*////// CONTAINER STYLING ///////*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: #FFF;
    position: relative;
    height: inherit;
    border: none;
}


/*////// HEADER STYLING ///////*/
#header {
	border: none;
	background-color: white;
	background-image: url("../img/host_logo.png");
	background-repeat: no-repeat;
	background-position: left center;
}
.header-container {
	border-bottom: none;
}



/*////// FORM ELEMENT STYLING ///////*/
input[type=text], select {
	border: 1px solid #F5F5F5;
	background-color: #F5F5F5;
  font-family: "CircularWeb", Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 5px;
	border-radius: 0;
	color: #21293C;
	font-size: 14px;
}
label {
	font-weight: bold;
}


/*////// FOOTER STYLING ///////*/
#footer {
	background-image: none;
	min-height: 50px;
  background: #1c222d;
  color: #fff;
}




/*////// STYLES FROM STARREZ EXISTING STYLING ///////*/

#profilemenu, #profilemenu .container, #header, #module_menu_container, #modulemenu {
	background: transparent;
}

.ui-dialog {
	background-color: white !important;
}

.container.shadow.ui-container {
	border: solid 1px #d4d4d4;
	box-shadow: none;
}

#profilemenu {
	margin-bottom: 20px;
	height: 150px;
}

#modulemenu {
	border-color: transparent;
}

#module_menu_container {
	border: 0;
	box-shadow: none;
	margin-top: -65px;
	margin-bottom: 40px;
}

.progress-bar {
	background-color: #EEE;
}
