// ==========================================================================
//
// 404 Page
//
// Description: Styles for 404 page
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.content-404 {
    display: block;
    max-width: rem(430);
}

.content-404__image {
    display: block;
    //margin: 0 auto;
}

.content-404__title {
    margin-bottom: $quarter-spacing-unit;
}

// ==========================================================================
// # MODIFIER: %%MODIFIER_NAME%%
// ==========================================================================
