// ==========================================================================
// CONTACT TABS
//
// ==========================================================================

.c-tabs-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-tabs__heading {
    &:first-line {
        color: brand(red) !important;
    }
}

.c-tabs-nav__link {
    flex: 1;
    margin-right: rem(4px);
    padding: rem(5px) rem(2px);
    color: brand(red);
    border-radius: rem(25px);
    border: brand(red) solid 1px;
    text-align: center;
    transition: color 0.3s;
    margin-bottom: $quarter-spacing-unit;
}

.c-tabs-nav__link:hover,
.c-tabs-nav__link:focus {
    text-decoration: none;
}

.c-tabs-nav__link.is-active {
    background-color: brand(red);
    color: #fff;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.c-tabs-nav__link i {
    font-size: 18px;
}

.c-tabs-nav__link span {
    display: none;
    font-size: 18px;
}

/**
 * Tab
 */
.c-tab {
    opacity: 0;
    height: 0;
    z-index: -1;

    transition: opacity 0.35s ease-in-out, height 0.35s ease-in-out;
}

.c-tab.is-active {
    opacity: 1;
    height: auto;
    z-index: 1;
}

.c-tab__content {
    padding: 1.5rem;
    overflow: hidden;
}

.c-tab__listing {

}

.c-tab__listing-item {
    @include list-reset;

    padding: rem(35px);
    background-color: brand(red);

    > * {
        color: #fff !important;
    }
}


/**
 * Tabs no-js fallback
 */
.c-tabs.no-js .c-tabs-nav {
    display: none;
}

.c-tabs.no-js .c-tab {
  opacity: 1;
  margin-bottom: 1.5rem;
}
