// ==========================================================================
// CONTACT TABS
//
// ==========================================================================

.c-tabs-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mq($from: 380px) {
        margin: 0 (-$half-spacing-unit) 0 0;
    }
}

.c-tabs__heading {
    &:first-line {
        color: brand(red) !important;
    }
}

a.c-tabs-nav__link {
    display: flex;
    flex: 0;
    justify-content: center;
    margin: 0 $half-spacing-unit $half-spacing-unit 0;
    padding: rem(8) 0;
    border: brand(red) solid rem(1);
    border-radius: rem(25);
    font-size: rem(15);
    color: brand(red);
    text-align: center;
    transition: all 0.3s;

    @include mq($until: 380px) {
        flex-basis: 100%;
        margin-right: 0;
    }

    @include mq($from: 380px, $until: small) {
        flex-basis: calc(50% - #{$half-spacing-unit});
    }

    @include mq($from: small, $until: medium) {
        flex-basis: calc(33.33% - #{$half-spacing-unit});
    }

    @include mq($from: medium, $until: large) {
        flex-basis: calc(25% - #{$half-spacing-unit});
    }

    @include mq($from: large, $until: xlarge) {
        flex-basis: calc(20% - #{$half-spacing-unit});
    }

    @include mq($from: xlarge, $until: xxlarge) {
        flex-basis: calc(16.66% - #{$half-spacing-unit});
    }

    @include mq($from: xxlarge) {
        flex-basis: calc(12.5% - #{$half-spacing-unit});
    }

    &:hover,
    &:focus {
        background-color: tint(red);
        color: #fff;
        text-decoration: none;
    }
}


.c-tabs-nav__link.is-active {
    background-color: brand(red);
    color: #fff;
}

a.c-tabs-nav__link i,
a.c-tabs-nav__link span {
    margin: 0;
    padding: 0;
    line-height: 1;
}

a.c-tabs-nav__link i {
    font-size: 18px;
}

a.c-tabs-nav__link span {
    display: none;
    font-size: 18px;
}

/**
 * Tab
 */
div.c-tabs {
    margin-bottom: -$spacing-unit;
}

.c-tab {
    display: none;
    //opacity: 0;
    height: 0;
    z-index: 1;
    //transition: opacity 0.35s ease-in-out, height 0.35s ease-in-out;
    //transform: translate3d(-100%, 0, 0);
    transition: all ease-in-out 0.35s;
}

.c-tab.is-active {
    display: block;
    //opacity: 1;
    height: auto;
    z-index: $zindex-tier-1;
    //transform: translate3d(0, 0, 0);
}

.c-tab__content {
    padding: 1.5rem;
    overflow: hidden;
}

.c-tab__listing {
    @include list-reset;
}

.c-tab__listing-item {
    //@include list-reset;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $spacing-unit!important;
    padding: rem($half-spacing-unit);
    background-color: brand(red);

    @include mq(medium) {
        padding: rem($spacing-unit);
    }

    // Content inside each item
    p,
    strong,
    a {
        color: #fff !important;
    }

    strong {
        margin-bottom: ($quarter-spacing-unit/2);
    }

    p {
        margin-top: 0;
    }

    a {
        margin-bottom: $half-spacing-unit;
    }

}


/**
 * Tabs no-js fallback
 */
.c-tabs.no-js .c-tabs-nav {
    display: none;
}

.c-tabs.no-js .c-tab {
  opacity: 1;
  margin-bottom: 1.5rem;
}
