// ==========================================================================
//
// SELECT ARROW
//
// Description: Down arrow for select inputs
// ==========================================================================

// ==========================================================================
// # MIXINS
// ==========================================================================

@mixin select-arrow($color: brand(sky), $hoverColor: #fff ) {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        right: 0;
        border-left: rem(8) solid transparent;
        border-right: rem(8) solid transparent;
        border-top: rem(14) solid $color;
        transform: translate3d(0, -50%, 0);
        transition: all ease-in-out 0.2s;
    }

    &:hover,
    &:focus {
        background-color: transparent;

        &::after {
            border-top-color: $hoverColor;
        }
    }
}
