// ==========================================================================
// # SEPARATED LIST
// ==========================================================================

.separated-list {
    margin: 1em 0;
    list-style: none outside;
}

.separated-list__item {
    padding: rem(10) 0;
    border-bottom: $base-border;
}

.separated-list__icon {
    margin-right: $half-spacing-unit;

    @include mq(medium) {
        margin-right: $spacing-unit;    
    }
}

// # MODIFIER:
// ==========================================================================
