// ==========================================================================
// # SLIDESHOW
// ==========================================================================

// ==========================================================================
// # Config for animation in
// ==========================================================================
$slideshow-animate-delay: 0.5s;
$slideshow-animate-speed: 3s;


.slideshow {
    position: relative;
    overflow: hidden;

    ul,
    ol {
        margin: 0;
        list-style: none inside;
    }
}

// Slideshow list container
// ==========================================================================
.slideshow__list {
    position: relative;
    width: 100%;
    overflow: hidden;
}

// Slideshow item: by default, hide all but the first
// ==========================================================================
.slideshow__item {
    background: transparent none no-repeat center center/cover;

    & + & { display: none; }

    // if we’re in JS-enhanced mode, show things
    .js-slideshow--active & {
        position:  absolute;
        display:   block;

        top:       0;
        left:      0;

        width:   100%;
        // height: 100% !important;

        transform: translateX(0);

        transition: transform 350ms;
    }

    &.js-slideshow--outside { transition: none; }
}

// # Image within a slideshow: should probably be hidden
// ==========================================================================
.slideshow__image {
    opacity: 0.000001;
}

// ==========================================================================
// # PAGINATION: DOTS
// ==========================================================================
.slideshow-pagination--dots {
    position:  absolute;
    bottom:    rem(15);
    left:      50%;

    transform: translateX(-50%);

    li {
        display: inline-block;
        margin:  0 rem(4);
    }

    button[class] {
        height: rem(13);
        width:  rem(13);
        min-width: 0;
        padding:   0;

        transition: background 350ms;

        border: 2px solid #fff;
        background: rgba(255, 255, 255, 0);

        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0.5);
            outline: none;
        }

        &.-current {
            background: rgba(255, 255, 255, 1);

            &:hover,
            &:focus {
                background-color: rgba(255, 255, 255, 0.5);
                outline: none;
            }
        }
    }

}

// ==========================================================================
// # PAGINATION: Prev/next
// ==========================================================================
.slideshow-pagination--pn .slideshow-pagination__button {
    position:  absolute;
    top:       50%;

    padding:   rem(10);
    height:    100%;
    min-width: 0;
    margin:    0;

    transform:  translateY(-50%) scale(0);
    transition: background 200ms,
                opacity    350ms,
                transform  0ms 350ms;

    border-radius: 0;

    background: rgba(255, 255, 255, 0);
    opacity:    0;

    &:hover,
    &:focus {
        background: rgba(255, 255, 255, 0.15);
        outline-color: brand(grey);

        .svg-icon {
            opacity: 1;
            transform: translateX( rem(-3) );
        }
    }

    &.-show {
        transform: translateY(-50%) scale(1);
        transition-delay: 0ms, 0ms, 0ms;
        opacity: 1;
    }

    .svg-icon {
        transition: all 200ms;
        opacity:    0.75;
    }
}

.slideshow-pagination--pn .slideshow-pagination__button--next {
    right: 0;

    .svg-icon { transform: scaleX(-1); }

    &:hover,
    &:focus {

        .svg-icon {
            transform: scaleX(-1) translateX( rem(-3) );
        }
    }
}

.slideshow-pagination--pn .slideshow-pagination__button--prev {
    left: 0;

    .svg-icon {
        transform: scaleX(-1) translateX( rem(0) ) rotate(180deg);
     }

    &:hover,
    &:focus {

        .svg-icon {
            transform: scaleX(-1) translateX( rem(3) ) rotate(180deg);
        }
    }
}

// ==========================================================================
// # Slideshow variant: lighter pagination
// ==========================================================================
.slideshow--light-pagination .slideshow-pagination--pn .slideshow-pagination__button {
    height:     rem(200);
    width:      rem(50);
    background-color: rgba(255, 255, 255, 0.75);

    color:      tint(ink);

    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, 0.6);
        outline: none;
    }

}


// ==========================================================================
// # Slideshow variant: lighter pagination
// ==========================================================================
.slideshow--large-pagination .slideshow-pagination--pn .slideshow-pagination__button {
    height:     rem(315);
    width:      rem(70);
    background: #fff;

    @include mq($until: medium) {
        background: transparent;

        &:hover {
            background: transparent;
        }
    }

    &:hover,
    &:focus {
        background: rgba(255, 255, 255, 0.85);
        outline: none;
    }
}


// ==========================================================================
// # Animate the slideshow
// ==========================================================================
@keyframes slideshow-ai-before {
    99% { transform: scale(1); opacity: 0; }
    to  { transform: scale(0); opacity: 0; }
}

@keyframes slideshow-ai-after {
    50% {
        width: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    99% {
        width: 100%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    to  { transform: scale(0); }
}

@keyframes slideshow-ai-pagination {
    from { opacity: 0; }
    50%  { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes single-image-pause {
    to {
        opacity: 0;
    }
}

.slideshow--animate-in {
    &:before,
    &:after {
        position: absolute;
        z-index:  20;
        content:  "";
    }

    // before is a semi-mask
    &:before {
        top: 0;
        left: 0;

        height: 100%;
        width:  100%;

        background: rgba(255, 255, 255, 0);
    }

    &:after {
        top:    50%;
        left:   50%;
        height: rem(90);
        width:  rem(70);
        border-left:  rem(20) solid #fff;
        border-right: rem(20) solid #fff;
        transform: translate(-50%, -50%);

        @include mq($from: 460px) {
            height: rem(120);
            width:  rem(87);
            border-left:  rem(30) solid #fff;
            border-right: rem(30) solid #fff
        }

        @include mq(medium) {
            height: rem(200);
            width:  rem(173);
            border-left:  rem(50) solid #fff;
            border-right: rem(50) solid #fff;
        }

        @include mq(large) {
            height: rem(315);
            width:  rem(260);
            border-left:  rem(70) solid #fff;
            border-right: rem(70) solid #fff;
        }
    }

    .slideshow-pagination,
    .slideshow-infobox {
        opacity: 0;
        z-index: $zindex-tier-1;
    }

    &:not(.js-slideshow--active) {
        &:after {
            animation: single-image-pause 0.5s 0.75s ease-out 1 forwards;
        }
    }

    &.js-slideshow--active {

        &:before {
            animation: slideshow-ai-before $slideshow-animate-speed $slideshow-animate-delay 1 forwards;

            //@include mq($until: medium) {
            //    animation: none;
            //    opacity: 1;
            //    transform: scale(1)
            //}
        }
        &:after  {
            animation: slideshow-ai-after  $slideshow-animate-speed $slideshow-animate-delay ease-out 1 forwards;

            //@include mq($until: medium) {
            //    animation: none;
            //    width: 100%;
            //    opacity: 1;
            //    transform: scale(0) translate(-50%, -50%);
            //}
        }

        .slideshow-pagination,
        .slideshow-infobox {
            animation: slideshow-ai-pagination $slideshow-animate-speed $slideshow-animate-delay 1 forwards;

            // @include mq($until: medium) {
            //    animation: none;
            //    opacity: 1;
            // }
        }
    }
}
