// ==========================================================================
// # SLIDESHOW
// ==========================================================================

.slideshow {
    position: relative;
    overflow: hidden;

    ul,
    ol {
        margin: 0;
        list-style: none inside;
    }
}

// Slideshow list container
// ==========================================================================
.slideshow__list {
    overflow: hidden;
}

// Slideshow item: by default, hide all but the first
// ==========================================================================
.slideshow__item {
    background: transparent none no-repeat center center/cover;

    & + & { display: none; }

    // if we’re in JS-enhanced mode, show things
    .js-slideshow--active & {
        position:  absolute;
        display:   block;

        top:       0;
        left:      0;

        width:   100%;

        transform: translateX(0);

        transition: transform 350ms;
    }
}

// # Image within a slideshow: should probably be hidden
// ==========================================================================
.slideshow__image {
    opacity: 0.000001;
}

// ==========================================================================
// # PAGINATION: DOTS
// ==========================================================================
.slideshow-pagination--dots {
    position:  absolute;
    bottom:    rem(15);
    left:      50%;

    transform: translateX(-50%);

    li {
        display: inline-block;
        margin:  0 rem(4);
    }

    button[class] {
        height: rem(13);
        width:  rem(13);
        min-width: 0;
        padding:   0;

        transition: background 350ms;

        border: 2px solid #fff;
        background: rgba(255, 255, 255, 1);



        &.-current { background: rgba(255, 255, 255, 0); }
    }

}

// ==========================================================================
// # PAGINATION: Prev/next
// ==========================================================================
.slideshow-pagination--pn .slideshow-pagination__button {
    position:  absolute;
    top:       50%;

    padding:   rem(10);
    height:    100%;
    min-width: 0;
    margin:    0;

    transform:  translateY(-50%) scale(0);
    transition: background 200ms,
                opacity    350ms,
                transform  0ms 350ms;

    border-radius: 0;

    background: rgba(255, 255, 255, 0);
    opacity:    0;

    &:hover {
        background: rgba(255, 255, 255, 0.15);

        .svg-icon { opacity: 1; }
    }

    &.-show {
        opacity: 1;

        transform: translateY(-50%) scale(1);

        transition-delay: 0ms, 0ms, 0ms;
    }

    .svg-icon {
        transition: opacity 200ms;
        opacity:    0.8;
    }
}

.slideshow-pagination--pn .slideshow-pagination__button--next {
    right: 0;

    .svg-icon { transform: scaleX(-1); }
}

// ==========================================================================
// # Slideshow variant: lighter pagination
// ==========================================================================
.slideshow--light-pagination .slideshow-pagination--pn .slideshow-pagination__button {
    height:     65%;

    background: rgba(255, 255, 255, 0.8);
    color:      tint(ink);

    &:hover {
        background: rgba(255, 255, 255, 1);
    }
}

// ==========================================================================
// # Animate the slideshow
// ==========================================================================
@keyframes slideshow-ai-before {
    99% { opacity: 0; transform: scale(1); }
    to  { opacity: 0; transform: scale(0); }
}
@keyframes slideshow-ai-after {
    90% {
        width: 100%;
        opacity: 1;
        border-left-width: rem(40);
        border-right-width: rem(40);
    }
    99% {
        width: 100%;
        opacity: 0;
        border-left-width: rem(40);
        border-right-width: rem(40);
        transform: translate(-50%, -50%) scale(1);
    }
    to  { transform: scale(0); }
}
@keyframes slideshow-ai-pagination {
    from { opacity: 0; }
    90%  { opacity: 0; }
    to   { opacity: 1; }
}

.slideshow--animate-in {
    &:before,
    &:after {
        position: absolute;
        z-index:  20;
        content:  "";
    }

    // before is a semi-mask
    &:before {
        top: 0;
        left: 0;

        height: 100%;
        width:  100%;

        background: rgba(255, 255, 255, .3);
    }

    &:after {
        top:    50%;
        left:   50%;
        height: 65%;
        width:  rem(260);

        border-left:  rem(70) solid rgba(255, 255, 255, 0.8);
        border-right: rem(70) solid rgba(255, 255, 255, 0.8);

        transform: translate(-50%, -50%);
    }

    .slideshow-pagination { opacity: 0; }

    &.js-slideshow--active {

        &:before { animation: slideshow-ai-before 1.5s 1s 1 forwards; }
        &:after  { animation: slideshow-ai-after  1.5s 1s ease-out 1 forwards; }

        .slideshow-pagination {
            animation: slideshow-ai-pagination 1.5s 1s 1 forwards;
        }
    }
}
