// ==========================================================================
//
// UTILITIES MENU
//
// Description: layout and styling for utilities navigation menu
//
// ==========================================================================

// ==========================================================================
// # BASE CLASSES
// ==========================================================================
.nav-utilities {
    margin: 0;
    list-style: none outside;
}

.nav-utilities__item {
    // scss-lint:disable EmptyRule
}

.nav-utilities__link {
    display: block;
}

// ==========================================================================
// # VARIANT: BANNER
// ==========================================================================
.nav-utilities--banner {
    margin-right: rem(-15);

    .nav-utilities__item {
        display: inline-block;
        margin-left: -0.2em;
    }

    .nav-utilities__link {
        padding: 0 rem(15);
        height:  rem(20);

        font-size:   rem(14);
        line-height: rem(20);

        color:       brand(grey);
    }

    .svg-icon {
        height:      rem(20);
        width:       rem(20);
        margin-left: rem(15);
    }

}

// ==========================================================================
// # VARIANT: OFFCANVAS
// ==========================================================================
.nav-primary--offcanvas {
    // scss-lint:disable EmptyRule
}
